<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ToDoListApplication">

    <application
        android:name="hu.botagergo.todolist.ToDoListApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">
        <activity
            android:name="hu.botagergo.todolist.feature_task_view.presentation.task_view.TaskViewActivity"
            android:exported="true"
            android:label="@string/task_view"
            android:parentActivityName="hu.botagergo.todolist.feature_task_view.presentation.task_view_list.TaskViewListActivity" />
        <activity
            android:name="hu.botagergo.todolist.feature_task_view.presentation.simple_filter_criterion.FilterCriterionActivity"
            android:exported="true"
            android:label="@string/edit_filter"
            android:parentActivityName="hu.botagergo.todolist.feature_task_view.presentation.task_view.TaskViewActivity" />
        <activity
            android:name="hu.botagergo.todolist.feature_task_view.presentation.task_view_list.TaskViewListActivity"
            android:label="@string/task_views"
            android:exported="true"
            android:parentActivityName="hu.botagergo.todolist.feature_task.presentation.task_list.TaskListActivity" />
        <activity
            android:name="hu.botagergo.todolist.feature_task.presentation.task_list.TaskListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>