<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.botagergo.todolist">

    <application
        android:name=".ToDoListApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">
        <activity
            android:name=".view.EditTaskViewActivity"
            android:exported="true"
            android:label="Edit Task View"
            android:parentActivityName=".view.EditSelectedTaskViewsActivity" />
        <activity
            android:label="Edit Selected Task Views"
            android:name=".view.EditSelectedTaskViewsActivity"
            android:exported="true"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>